#### Anudeepsri Bathina

This notebook helps in preliminary understanding of dealing with the data using python language.

This notebook is beginner friendly

# Lists

In [1]:
c=[-45,6,0,72,1543]
c

[-45, 6, 0, 72, 1543]

In [2]:
c[0]

-45

In [3]:
c[4]

1543

In [4]:
len(c)

5

# Tuples

In [5]:
student_tuple = ()

In [6]:
student_tuple

()

In [7]:
len(student_tuple)

0

In [8]:
student_tuple = 'John','Green',3.3

In [9]:
student_tuple

('John', 'Green', 3.3)

In [10]:
len(student_tuple)

3

# Unpacking Sequences

In [11]:
student_tuple = ('Amanda', [98,85,87])

In [12]:
first_name, grades = student_tuple

In [13]:
first_name

'Amanda'

In [14]:
grades

[98, 85, 87]

# Importing libraries

In [15]:
import matplotlib.pyplot as plt

In [16]:
import numpy as np

In [17]:
import random

In [18]:
import seaborn as sns

# Dictionary

In [19]:
country_codes = {'Finland' : 'fi', 'South Africa' : 'za', 'Nepal' : 'np'}

In [20]:
country_codes

{'Finland': 'fi', 'South Africa': 'za', 'Nepal': 'np'}

In [21]:
len(country_codes)

3

# Sets

In [26]:
colors = {'red', 'orange', 'yellow', 'green', 'red', 'blue'}

In [27]:
colors

{'blue', 'green', 'orange', 'red', 'yellow'}

# Numpy Arrays


You can create an array only after importing numpy

In [28]:
numbers = np.array([2,3,5,7,11])

In [29]:
type(numbers)

numpy.ndarray

In [30]:
numbers

array([ 2,  3,  5,  7, 11])

# Pandas Series

You can create a Series only after importing pandas

In [32]:
import pandas as pd

In [33]:
grades = pd.Series([87,100,94])

In [35]:
grades

0     87
1    100
2     94
dtype: int64

In [36]:
pd.Series(98.6, range(3))

0    98.6
1    98.6
2    98.6
dtype: float64

# Pandas Dataframes

In [37]:
grades_dict = {' Wally': [87, 96, 70], 'Eva': [100, 87, 90],'Sam': [94, 77, 901],'Katie': [100, 81,82],'Bob': [83, 65, 85]}

In [38]:
grades = pd.DataFrame(grades_dict)

In [39]:
grades

    Wally  Eva  Sam  Katie  Bob
0      87  100   94    100   83
1      96   87   77     81   65
2      70   90  901     82   85

# Data Validation

In [40]:
zips = pd.Series({'Boston':'02215','Miami':'3310'})

In [41]:
zips

Boston    02215
Miami      3310
dtype: object

In [51]:
zips.str.match(r'\d{5}')

Boston     True
Miami     False
dtype: bool

# Reformatting the data

In [46]:
contacts = [['Mike Green','demol@deitel.com', '5555555555'],
['Sue Brown','demo2@deitel.com', '5555551234']]

In [49]:
contactsdf = pd.DataFrame(contacts, columns=['Name', 'Email','Phone'])

In [50]:
contactsdf

         Name             Email       Phone
0  Mike Green  demol@deitel.com  5555555555
1   Sue Brown  demo2@deitel.com  5555551234