1. Create a DataFrame named temperatures from a dictionary of three temperature readings each for 'Maxine’, 'James' and 'Amanda'.

In [2]:
import pandas as pd
dict = {'Maxine': [56,68,48],'Amanda':[78,39,89],'James':[67,90,43]}
temp = pd.DataFrame(dict)

In [3]:
temp

   Maxine  Amanda  James
0      56      78     67
1      68      39     90
2      48      89     43

2. Recreate the DataFrame temperatures in Part (a) with custom indices using the index keyword argument and a list containing 'Morning', 'Afternoon' and 'Evening'.

In [3]:
temp['time']=['Morning','Afternoon','Evening']

In [5]:
temp.set_index('time')

           Maxine  Amanda  James
time
Morning        56      78     67
Afternoon      68      39     90
Evening        48      89     43

3. Class Average: Reading Student Records from a CSV File:   
Use the csv module to read the grades.csv file from the previous exercise. Display the data in tabular format.

In [ ]:
import pandas as pd 
df = pd.read_csv('grades.csv')
df

Modify your solution to the preceding exercise to create a grade report that displays each student’s average to the right of that student’s row and the class average for each exam below that exam’s column.

In [50]:
import pandas as pd 
df = pd.read_csv('example.csv')
df['sum']= df['G1']+df['G2']
df['avg']=df['sum']/2
ans = sum(df['G1'])/df['G1'].count()
print(ans)

93.5